---
layout: default
carousel:
    - images: 
      - image: assets/img/portfolio/04-thumbnail.jpg
      - image: assets/img/portfolio/04-thumbnail.jpg
      - image: assets/img/portfolio/04-thumbnail.jpg
      - image: assets/img/portfolio/04-thumbnail.jpg
    - images: 
      - image: assets/img/portfolio/04-thumbnail.jpg
      - image: assets/img/portfolio/04-thumbnail.jpg
      - image: assets/img/portfolio/04-thumbnail.jpg
      - image: assets/img/portfolio/04-thumbnail.jpg
---
{% include navheader.html %}
{% include carousel.html height="50" unit="%" duration="7" number="1" %}
{% include carousel.html height="50" unit="%" duration="7" number="2" %}
{% include services.html %}
{% include portfolio_grid.html %}
{% include about.html %}
{% include timeline.html %}
{% include team.html %}
{% include clients.html %}
{% include contact.html %}
